---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const heroPost = posts[0];
const otherPosts = posts.slice(1);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      {
        heroPost && (
          <a href={`/blog/${heroPost.id}/`} class="hero-card">
            <div class="hero-image">
              {heroPost.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={heroPost.data.heroImage}
                  alt=""
                />
              )}
            </div>
            <div class="hero-content">
              <h2>{heroPost.data.title}</h2>
              <p>{heroPost.data.description}</p>
              <div class="hero-meta">
                <span>Guilherme Alves</span>
                <span>
                  {new Date(heroPost.data.pubDate).toLocaleDateString()}
                </span>
                {/* {heroPost.data.tags && (
					  <span>
						{heroPost.data.tags.map((tag, idx) => (
						  <span class="tag" key={tag}>
							{tag}{idx < heroPost.data.tags.length - 1 ? ',' : ''}
						  </span>
						))}
					  </span>
					)} */}
              </div>
            </div>
          </a>
        )
      }

      <div class="card-list">
        {
          otherPosts.map((post) => (
            <a href={`/blog/${post.id}/`} class="post-card">
              <div class="card-image">
                {post.data.heroImage && (
                  <Image
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
              </div>
              <div class="card-content">
                <h3>{post.data.title}</h3>
                <p>{post.data.description}</p>
                <div class="card-meta">
                  <span>Guilherme Alves</span>
                  <span>
                    {new Date(post.data.pubDate).toLocaleDateString()}
                  </span>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
